
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  
}


.footer {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #343a40;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 40px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .text {
    margin: 0;
    font-size: 1.5rem;

  }
  
  .socialLinks {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .socialLinks li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .socialLinks li a:hover {
    color: #007bff;
  }